/*************************************************** 
    HEADER SECTION
****************************************************/

header {
    height: 150px;
    position: relative;
}



/*************************************************** 
    MAIN SECTION
****************************************************/

main {
    height: calc(100vh - 150px);
}

#app-container > .row {
    margin: 0;
}

#app-container {
    position: absolute;
    top: 25px;
    height: calc(100vh - 50px);
    margin-bottom: 25px;
    width: 1400px;
}

#left-side {
    margin: 0;
    padding: 0;
}

/*************************
    USER-PROFILE SECTION
**************************/

.user-profile {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.imageContainer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 10px;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.titleContainer {
    font-size: 16px;
    color: #333;
    width: 375px;
}

.user-actions {
    display: flex;
    gap: 10px;
}

.user-actions i {
    height: 25px;
    width: 25px;
    color: #888888;
    font-size: 24px;
    text-align: center;
    margin: 0px;
    line-height: 25px;
    vertical-align: middle;
    opacity: .6;
    transition: .3s
}

.user-actions i:hover {
    opacity: 1;  
}

.user-actions button {
    border: none;
    background-color: transparent;
}

/*************************
    DESKTOP NOTIFICATION SECTION
**************************/

.desktop-notifications {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 25px;
}

.desktop-notifications .imageContainer i {
    color: #8EDAFC;
    font-size: 24px;
}

.desktop-notifications .titleContainer {
    display: flex;
    flex-direction: column;
}

.desktop-notifications .titleContainer a {
    color: #888888;
    font-size: 16px;
}















/*************************************************** 
    RESPONSIVE LAYOUT
****************************************************/

/********************* 
    SMALL (sm) (>576px)
**********************/
@media screen and (min-width: 576px) {

}



/********************* 
    MEDIUM (md) (>768px)
**********************/
@media screen and (min-width: 768px) {
    
}



/********************* 
    LARGE (lg) (>992px)
**********************/
@media screen and (min-width: 992px) {
    
}




/********************* 
    EXTRA LARGE (xl) (>1200px)
**********************/
@media screen and (min-width: 1200px) {
    
}




/********************* 
    EXTRA EXTRA LARGE (xxl) (>1400px)
**********************/
@media screen and (min-width: 1400px) {
    
}


