/*************************************************** 
    UTILITIES
****************************************************/

.active {
    display: block;
}

.selected {
    background-color: #254930;
    
}

/********************* 
    BACKGROUND COLORS
**********************/

.green-bg {
    background-color: #009688;
}

.grey-bg {
    background-color: #DBDBD3;
}

.lightgrey-bg {
    background-color: #EAEAEA;
}

.lightblue-bg {
    background-color: #477286;
}

.green-message {
    background-color: #D5F9BA;
}

.white-message {
    background-color: #FFFFFF;
}

.test-background {
    background-color: lightcoral;
}

.white-bg {
    background-color: white;
}

.dark-bg {
    background-color: #222E35;
}

.lessdark-bg {
    background-color: #394d58;
}

.darkgreen-bg {
    background-color: #06CF9C;
}
/********************* 
    TEXT
**********************/

/********************* 
    CONTAINERS
**********************/